In [15]:
import pandas as pd

# !pip install pandas

import pandas as pd

df = pd.read_json ('datasets/water_point.json')
df.to_csv ('datasets/water_point.csv', index = None)

df_csv = pd.read_csv('datasets/water_point.csv')

df_csv.tail()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
707,no,community,Emmanuel y,year_round,NaN,NaN,functioning,_08_Water_points_CV,no,['north_ghana/attachments/1358151218133.jpg'],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708,no,local_authority community,Emmanuel y,year_round,NaN,NaN,broken,_08_Water_points_CV,yes,['north_ghana/attachments/1358081512606.jpg'],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,no,local_authority community,Emmanuel y,year_round,NaN,NaN,broken,_08_Water_points_CV,yes,['north_ghana/attachments/1358081512606.jpg'],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,no,community,abu seidu,year_round,NaN,NaN,functioning,_08_Water_points_CV,no,['north_ghana/attachments/1358175596571.jpg'],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,8.923301e+18,6.200101e+14
711,no,community,Sa,year_round,NaN,NaN,functioning,_08_Water_points_CV,yes,['north_ghana/attachments/1355488003808.jpg'],...,yes,no,manual_power,gravel dirt,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_csv.describe()

,_bamboo_dataset_id,_deleted_at,enum_id_1,deviceid,_id,water_mechanism_plate_no,simserial,subscriberid
count,0.0,0.0,712.000000,7.120000e+02,712.000000,4.300000e+01,5.000000e+00,5.000000e+00
mean,NaN,NaN,8.925562,3.550470e+14,396962.976124,7.870867e+04,8.923301e+18,6.200103e+14
std,NaN,NaN,5.038956,4.446088e+03,19365.319930,4.211815e+05,9.661989e+08,9.661985e+07
min,NaN,NaN,1.000000,3.550470e+14,381705.000000,0.000000e+00,8.923301e+18,6.200101e+14
25%,NaN,NaN,5.000000,3.550470e+14,381895.750000,1.518500e+03,8.923301e+18,6.200103e+14
50%,NaN,NaN,5.000000,3.550470e+14,391817.000000,6.367000e+03,8.923301e+18,6.200103e+14
75%,NaN,NaN,14.000000,3.550470e+14,406770.250000,7.417500e+03,8.923301e+18,6.200103e+14
max,NaN,NaN,17.000000,3.550470e+14,549072.000000,2.770233e+06,8.923301e+18,6.200103e+14

In [12]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   water_pay                    712 non-null    object
 1   respondent                   712 non-null    object
 2   research_asst_name           712 non-null    object
 3   water_used_season            712 non-null    object
 4   _bamboo_dataset_id           0 non-null      float64
 5   _deleted_at                  0 non-null      float64
 6   water_point_condition        712 non-null    object
 7   _xform_id_string             712 non-null    object
 8   other_point_1km              712 non-null    object
 9   _attachments                 712 non-null    object
 10  communities_villages         712 non-null    object
 11  end                          712 non-null    object
 12  animal_number                528 non-null    object
 13  water_point_id               712 non-null    object
 14  start                        712 non-null    object
 15  water_connected              712 non-null    object
 16  water_manager_name           708 non-null    object
 17  _status                      712 non-null    object
 18  enum_id_1                    712 non-null    int64
 19  water_lift_mechanism         712 non-null    object
 20  districts_divisions          712 non-null    object
 21  _uuid                        712 non-null    object
 22  grid                         712 non-null    object
 23  date                         712 non-null    object
 24  formhub/uuid                 712 non-null    object
 25  road_available               712 non-null    object
 26  water_functioning            712 non-null    object
 27  _submission_time             712 non-null    object
 28  signal                       712 non-null    object
 29  water_source_type            712 non-null    object
 30  _geolocation                 712 non-null    object
 31  water_point_image            712 non-null    object
 32  water_point_geocode          709 non-null    object
 33  deviceid                     712 non-null    int64
 34  locations_wards              712 non-null    object
 35  water_manager                712 non-null    object
 36  water_developer              712 non-null    object
 37  _id                          712 non-null    int64
 38  animal_point                 712 non-null    object
 39  water_mechanism_plate        649 non-null    object
 40  water_lift_mechanism_type    649 non-null    object
 41  road_type                    334 non-null    object
 42  water_mechanism_plate_units  43 non-null     object
 43  water_mechanism_plate_no     43 non-null     float64
 44  water_not_functioning        87 non-null     object
 45  water_source_type_other      3 non-null      object
 46  simserial                    5 non-null      float64
 47  subscriberid                 5 non-null      float64
dtypes: float64(5), int64(3), object(40)
memory usage: 267.1+ KB

In [ ]:
def calculate(url):
    '''
   -the number of water points
   - the number of water points per community
    - rank for each community  # calculate per broken  water points
   
      cal_ranking(df.broken_WATER_points)
   
   
   
   --community villages , water_fuctioning
    
    '''
    
    return  {data.json}



def cal_ranking(broken_water_points):
    
    broken_water_points 
    
    if 
    
    
    return percentage